{% extends 'base.html' %}
{% block content %}

<h1>About Us</h1>
<hr>
<p>Welcome to Happy Hounds Daycare & Dog Walkers! Your go-to destination for premium dog daycare and dog walking services. Here, we understand that your furry friends deserve the best care and attention, even when you're not around. Our team of passionate and experienced caregivers ensures that your dogs receive the love, exercise, and socialization they need to lead happy and healthy lives. Whether you're looking for a safe and stimulating environment for your pup to play and interact with other dogs, or simply need a reliable dog walker to take them on exciting adventures, we've got you covered. Trust Happy Hounds to provide your four-legged companions with the utmost care and fun-filled experiences they'll wag their tails for!</p>


{% endblock %}